
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.workout-type-icon {
  height: 3em;
  width: 3em;
  margin-right: 2em;
}

.workout-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 2em;
}
